{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="icon" href="{% static 'tora.gif' %}">

    <title>物流在庫表（商品登録/編集）</title>

</head>
<body>
    <div class="mt-3 mb-5">

        <div style="margin: 0 auto; width: 1100px;">

            <!-- メニュー -->
            {% include "zaiko/menu.html" %}
            <hr>

            <!-- 商品検索 -->
            <div class="flex2 mt-5">
                <div><i class="bi bi-search"></i> 商品検索：</div>
                <div style="width: 500px;"><input class="form-control" type="text" id="hinban_enter"></div>
            </div>
            
            <div class="flex2 mt-3">
                <div>
                    <select class="form-control" id="hinban_list" 
                        style="width: 600px; height:120px;" size="5" onclick="hinban_click()"></select>
                </div>
                <div style="margin-left: 30px;">
                    <select class="form-control" id="color" name="color_size"
                        style="width: 200px; height:120px;" onclick="color_size()" multiple></select>
                </div>
                <div style="margin-left: 30px;">
                    <select class="form-control" id="size" name="color_size"
                        style="width: 150px; height:120px;" onclick="color_size()" multiple></select>
                </div>
            </div>
                
            <!-- 商品一覧 -->
            <div class="inlineframe mt-3" style="height: 300px; width: 100%;">
                <table class="table table-bordered tb_zaiko sticky_table" style="font-size: 0.9em;">
                    <thead>
                        <tr class="table-secondary">
                            <th>カラー</th>
                            <th>サイズ</th>
                            <th style="width: 80px;">キープ数</th>
                            <th style="width: 80px;">在庫数</th>
                            <th>拠点</th>
                            <th>棚番</th>                            
                            <th>備考</th>
                            <th>注意事項</th>
                        </tr>
                    </thead>
                    <tbody class="td_hover" id="item_list"></tbody> 
                </table>
            </div>

            <!-- 商品詳細 -->
            <div class="mt-5">
                <div class="flex3">
                    <div class="flex2">
                        <div><button type="button" class="btn btn-secondary" id="btn_copy">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-copy" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z"/>
                            </svg> 内容をコピーする
                        </button></div>
                        <div style="margin-left: 30px;">
                            <button type="button" class="btn btn-outline-dark" onclick="henshu_clear()">クリア</button>
                        </div>
                    </div>
                    <div>
                        <a href="{% url 'zaiko2:henshu_excel_download' %}">
                            <button type="button" class="btn btn-outline-dark"><i class="bi bi-download"></i> 商品一覧ダウンロード</button>
                        </a>
                    </div>
                </div>
                
                <div class="flex2 mt-4">
                    <div>
                        <div>本体No.</div>
                        <div><input class="form-control" type="text" id="up_hontai_num" name="item_detail" style="width: 100px;" readonly></div>
                    </div>
                    <div style="margin-left: 30px;">
                        <div>品番 <span style="color: red;">*</span></div>
                        <div><input class="form-control" type="text" id="up_shouhin_num" name="item_detail" style="width: 200px;"></div>
                    </div>
                    <div style="margin-left: 30px;">
                        <div>カラー</div>
                        <div><input class="form-control" type="text" id="up_color" name="item_detail" style="width: 220px;"></div>
                    </div>
                    <div style="margin-left: 30px;">
                        <div>サイズ <span style="color: red;">*</span></div>
                        <div>
                            <select class="form-select" id="up_size_num" name="item_detail" style="width: 170px;">
                                <option value=""></option>
                                {% for i in size_list %}
                                <option value="{{i.size_num}}">{{i.size}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div style="margin-left: 30px;">
                        <div>JANコード</div>
                        <div><input class="form-control" type="text" id="up_jan_code" name="item_detail" style="width: 250px;"></div>
                    </div>
                </div>

                <div class="flex2 mt-4">
                    <div>
                        <div>品名 <span style="color: red;">*</span></div>
                        <div><input class="form-control" type="text" id="up_shouhin_name" name="item_detail" style="width: 700px;"></div>
                    </div>
                    <div style="margin-left: 30px;">
                        <div>新基幹（在庫）</div>
                        <div>
                            <select class="form-select" id="up_sys_stock" name="item_detail" style="width: 150px;">
                                <option value="0">いいえ</option>
                                <option value="1">はい</option>
                            </select>
                        </div>
                    </div>
                    <div style="margin-left: 30px;">
                        <div>新基幹（発注CSV）</div>
                        <div>
                            <select class="form-select" id="up_sys_order" name="item_detail" style="width: 150px;">
                                <option value="0">いいえ</option>
                                <option value="1">はい</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="flex2 mt-4">
                    <div>
                        <div>拠点 <span style="color: red;">*</span></div>
                        <div>
                            <select class="form-select" id="up_place" name="item_detail" style="width: 170px;">
                                <option value=""></option>
                                {% for i in place_list %}
                                <option>{{i.place}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div style="margin-left: 30px;">
                        <div>棚番</div>
                        <div><input class="form-control" type="text" id="up_tana" name="item_detail" style="width: 200px;"></div>
                    </div>
                    <div style="margin-left: 30px;">
                        <div>発注可能数</div>
                        <div><input class="form-control" type="number" id="up_available" name="item_detail"
                                style="width: 120px; text-align: right;" value="0"></div>
                    </div>
                    <div style="margin-left: 30px;">
                        <div>キープ数</div>
                        <div><input class="form-control" type="number" id="up_keep" name="item_detail"
                                style="width: 120px; text-align: right;" value="0"></div>
                    </div>
                    <div style="margin-left: 30px;">
                        <div>在庫数</div>
                        <div><input class="form-control" type="number" id="up_stock" name="item_detail"
                                style="width: 120px; text-align: right;" value="0"></div>
                    </div>
                    <div style="margin-left: 30px;">
                        <div>原価</div>
                        <div><input class="form-control" type="number" id="up_cost_price" name="item_detail"
                                style="width: 120px; text-align: right;" value="0"></div>
                    </div>
                </div>

                <div class="flex2 mt-4">
                    <div>
                        <div>注意事項（依頼フォームに表示）</div>
                        <div><input class="form-control" type="text" id="up_attention" name="item_detail" style="width: 530px;"></div>
                    </div>
                    <div style="margin-left: 30px;">
                        <div>備考</div>
                        <div><input class="form-control" type="text" id="up_bikou" name="item_detail" style="width: 540px;"></div>
                    </div>
                </div>

                <div class="mt-4 flex3" style="justify-content: space-between;">
                    <div>
                        <button type="button" class="btn btn-outline-danger" id="btn_del"><i class='bi bi-x-lg'></i> 登録削除</button>
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary" id="btn_up"><i class="bi bi-plus-lg"></i> 新規登録</button>
                    </div>
                </div>

            </div>
            
            

        </div>
        

    </div>



    <!-- 各種Ajax -->
    <script>

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i <cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
  
        var csrftoken = getCookie('csrftoken');
  
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
  
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
  

        
        //品番_検索
        var hinban_enter = document.getElementById("hinban_enter");
        hinban_enter.addEventListener("input",function(){
            if (hinban_enter.value == ""){
                document.getElementById("hinban_list").innerHTML="";
                document.getElementById("color").innerHTML="";
                document.getElementById("size").innerHTML="";
                document.getElementById("item_list").innerHTML="";
                henshu_clear();
                return
            };
            $.ajax({
                'url': '{% url "zaiko2:henshu_hinban_enter" %}',
                'type': 'POST',
                'data': {'hinban_enter': hinban_enter.value},
                'dataType': 'json'
            })
            .done(function(response){
                var list = "";
                for (var i of response.hinban_list){
                        list = list + "<option>" + i + "</option>";
                    }
                document.getElementById("hinban_list").innerHTML=list;
            });
        });

        
        //品番_クリック_ajax
        function hinban_click(){
            var hinban = document.getElementById("hinban_list");
            if (hinban.value != ""){
                $.ajax({
                    'url': '{% url "zaiko2:henshu_hinban_click" %}',
                    'type': 'POST',
                    'data': {'hinban': hinban.value},                        
                    'dataType': 'json'
                })
                .done(function(response){
                    // color
                    var color_list="";
                    if (response.color_list.length == 0){
                        color_list='<option></option>';
                    } else {
                        for (var i of response.color_list){
                            color_list = color_list + '<option>' + i + '</option>';
                        }
                    };
                    // size
                    var size_list="";
                    if (response.size_list.length == 0){
                        size_list='<option></option>';
                    } else {
                        for (i of response.size_list){
                            size_list = size_list + '<option>' + i + '</option>';
                        }
                    };
                    // color、size
                    document.getElementById("color").innerHTML=color_list;
                    document.getElementById("size").innerHTML=size_list;

                    // items
                    var str="";
                    for (var i of response.item_list){
                        var bikou="";
                        var attention="";
                        if (i.bikou){bikou=i.bikou};
                        if (i.attention){attention=i.attention};

                        str = str + "<tr id='hontai_" + i.hontai_num + "' name='henshu_items'>" +
                            "<td>" + i.color + "</td>" +
                            "<td>" + i.size + "</td>" +
                            "<td style='text-align:right;'>" + i.keep + "</td>" +
                            "<td style='text-align:right;'>" + i.stock + "</td>" +
                            "<td>" + i.place + "</td>" +
                            "<td>" + i.tana + "</td>" +
                            "<td>" + bikou + "</td>" +
                            "<td>" + attention + "</td></tr>";
                    }
                    document.getElementById("item_list").innerHTML=str;
                    henshu_item();
                    henshu_clear();
                });
            };
        }


        // モーダル_品番、カラー、サイズ（値取得）
        function hinban_color_size(){
            var hinban = document.getElementById("hinban_list").value;
            var color=[];
            var elm=document.getElementById("color").options;
            for (i=0 ; i<elm.length ; i++){
                if (elm[i].selected){
                    color.push(elm[i].value);
                };
            };
            var size=[];
            elm=document.getElementById("size").options;
            for (i=0 ; i<elm.length ; i++){
                if (elm[i].selected){
                    size.push(elm[i].value);
                };
            };

            color=JSON.stringify(color);
            size=JSON.stringify(size);
            var dic={"hinban":hinban,"color":color,"size":size};
            return dic
        };


        // カラー、サイズ共通（クリック）
        function color_size(){
            var dic=hinban_color_size()
            $.ajax({
                'url': '{% url "zaiko2:henshu_color_size_click" %}',
                'type': 'POST',
                'data': {
                    'hinban': dic.hinban,
                    'color':dic.color,
                    'size':dic.size,
                    },
                'dataType': 'json'
            })
            .done(function(response){
                var str="";
                for (var i of response.item_list){
                    var bikou="";
                    var attention="";
                    if (i.bikou){bikou=i.bikou};
                    if (i.attention){attention=i.attention};

                    str = str + "<tr id='hontai_" + i.hontai_num + "' name='henshu_items'>" +
                        "<td>" + i.color + "</td>" +
                        "<td>" + i.size + "</td>" +
                        "<td style='text-align:right;'>" + i.keep + "</td>" +
                        "<td style='text-align:right;'>" + i.stock + "</td>" +
                        "<td>" + i.place + "</td>" +
                        "<td>" + i.tana + "</td>" +
                        "<td>" + bikou + "</td>" +
                        "<td>" + attention + "</td></tr>";
                }
                document.getElementById("item_list").innerHTML=str;
                henshu_item();
                henshu_clear();
            });
        };


        // 編集リスト_クリック
        function henshu_item(){
            var items=document.getElementsByName("henshu_items");
            for (var i=0; i<items.length; i++){
                items[i].addEventListener("click",function(){
                    $.ajax({
                        'url': '{% url "zaiko2:henshu_list_click" %}',
                        'type': 'POST',
                        'data': {'hontai_num': this.id.replace("hontai_","")},
                        'dataType': 'json'
                    })
                    .done(function(response){
                        var res=response.item;
                        for (var [k,v] of Object.entries(res)){
                            try {
                                document.getElementById("up_" + k).value=v;
                            } catch(error) {
                                continue;
                            }
                        }
                        var btn_up =document.getElementById("btn_up");
                        btn_up.className="btn btn-success";
                        btn_up.innerHTML="<i class='bi bi-arrow-repeat'></i> 更新する";
                    });
                })
            }
        };


        // 編集リスト_クリア
        function henshu_clear(){
            var forms=document.getElementsByName("item_detail");
            var list_0=["up_sys_stock","up_sys_order","up_available","up_keep","up_stock","up_cost_price"];
            for (var i=0; i<forms.length; i++){
                if (list_0.includes(forms[i].id)){
                    forms[i].value=0;
                } else {
                    forms[i].value="";
                }
            }
            var btn_up =document.getElementById("btn_up");
            btn_up.className="btn btn-primary";
            btn_up.innerHTML="<i class='bi bi-plus-lg'></i> 新規登録";
        };


        // 編集リスト_コピー
        document.getElementById("btn_copy").addEventListener("click",function(){
            var btn_up =document.getElementById("btn_up");
            document.getElementById("up_hontai_num").value="";
            btn_up.className="btn btn-primary";
            btn_up.innerHTML="<i class='bi bi-plus-lg'></i> 新規登録";
            window.alert("内容をコピーしました！");
        });
        
        
        // 編集リスト_登録更新
        document.getElementById("btn_up").addEventListener("click",function(){
            var error_dic={"up_shouhin_num":"品番","up_size_num":"サイズ","up_shouhin_name":"品名","up_place":"拠点"};
            for (var[k,v] of Object.entries(error_dic)){
                if (document.getElementById(k).value==""){
                    window.alert(v + "は必須項目です！");
                    return
                }
            }

            var forms=document.getElementsByName("item_detail");
            var dic={};
            for (var i=0; i<forms.length; i++){
                dic[forms[i].id.replace("up_","")]=forms[i].value;
            }
            dic=JSON.stringify(dic);

            $.ajax({
                'url': '{% url "zaiko2:henshu_up" %}',
                'type': 'POST',
                'data': {"dic":dic},
                'dataType': 'json'
            })
            .done(function(response){
                if (response.kubun==0){
                    window.alert("商品を更新しました！");
                } else {
                    window.alert("新規商品を登録しました！");
                }
                henshu_clear();
                hinban_click();
            });
        });
        

        // 編集リスト_削除
        document.getElementById("btn_del").addEventListener("click",function(){
            var hontai_num = document.getElementById("up_hontai_num").value;
            if (hontai_num == ""){
                window.alert("削除する対象をリストから選択してください！");
                return
            };
            var ans =confirm("本当に削除しますか？");
            if (ans == false){
                return
            };
            $.ajax({
                'url': '{% url "zaiko2:henshu_del" %}',
                'type': 'POST',
                'data': {'hontai_num': hontai_num},
                'dataType': 'json'
            })
            .done(function(response){
                window.alert("削除しました！");
                henshu_clear();
                hinban_click();             
            });
        });



    </script>


</body>
</html>