{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>物流在庫表</title>
</head>
<body>

    <div class="mt-3 mb-5">

        <div style="margin: 0 auto; width: 1100px;">

            <!-- メニュー -->
            <div class="flex2">
                <div><a href="{% url 'zaiko:index' %}">出荷依頼</a></div>
                <div style="margin-left: 50px;"><a href="{% url 'zaiko2:henshu_index' %}">商品登録/編集</a></div>
                <div style="margin-left: 50px;"><a href="{% url 'zaiko2:size_index' %}">サイズ登録</a></div>
            </div>
            <hr>
        
        

            <!-- 入力選択ボタン -->
            <div class="flex2 mt-5">
                <div>
                    <button type="button" class="btn btn-outline-primary main_btn" id="shouhin_manual" data-bs-toggle="modal" data-bs-target="#manual_modal">
                        <span style="font-size: 1.5em;"><i class="bi bi-cart-plus"></i></span>
                        <span style="font-size: 1.2em; margin-left: 7px;">出荷依頼 / 在庫確認 / キープ / カタログ発送</span>
                    </button>
                </div>
                <div style="margin-left: 50px;">
                    <button type="button" class="btn btn-outline-success main_btn" id="shouhin_csv" data-bs-toggle="modal" data-bs-target="#csv_modal">
                        <span style="font-size: 1.5em;"><i class="bi bi-filetype-csv"></i></span>
                        <span style="font-size: 1.2em; margin-left: 7px;">新基幹発注CSV取込</span>
                    </button>
                </div>
                <div style="margin-left: 50px;">
                    <div>
                        <a href="{% url 'zaiko:download_excel_1' %}">
                            <button type="button" class="btn btn-outline-dark"><i class="bi bi-google"></i> 出荷作業依頼書</button>   
                        </a>
                    </div>
                    <div style="margin-top: 20px;">
                        <a href="{% url 'zaiko:download_excel_2' %}">
                            <button type="button" class="btn btn-outline-dark"><i class="bi bi-google"></i> 資材・カタログ出荷依頼</button>  
                        </a>
                    </div>                   
                </div>
            </div>

            <!-- エラー表示 -->
            {% if alert > 0 %}
            <div id="irai_send_error" style="display: block;">
            {% else %}
            <div id="irai_send_error" style="display: none;">
            {% endif %}
                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889
                        0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 
                        5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </symbol>
                </svg>
                <div class="alert alert-danger d-flex align-items-center mt-4" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24"><use xlink:href="#exclamation-triangle-fill"/></svg>
                    <div>最新の発注可能数を超えている商品が存在します！一度取り消してから、再度商品を追加してください。</div>
                </div>
            </div>

            <!-- 依頼商品一覧 -->
            <div class="flex mt-4">
                <table class="table table-bordered tb_zaiko">
                    <thead>
                        <tr class="table-secondary">
                            <th>品番</th>
                            <th>品名</th>
                            <th>カラー</th>
                            <th>サイズ</th>
                            <th>数量</th>
                            <th>拠点</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="order_list">
                        {% for i in order_list %}
                            {% if i.zaiko == "ng" %}
                            <tr style="background-color: #f5c2c7;">
                            {% else %}
                            <tr>
                            {% endif %}
                                <td>{{i.hinban}}</td>
                                <td>{{i.hinmei}}</td>
                                <td>{{i.color}}</td>
                                <td>{{i.size}}</td>
                                <td style="text-align: right;">{{i.kazu}}</td>
                                <td>{{i.place}}</td>
                                <td style="text-align: center;">
                                    <button type="button" class="btn btn-outline-dark btn-sm" id="{{i.hontai_kazu}}" name="order_items" zaiko="{{i.zaiko}}">
                                        <i class="bi bi-x-lg"></i>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div id="order_list_nothing" style="color: #808080;">{% if order_list|length == 0 %}商品を選択してください。{% endif %}</div>
            </div>

            <!-- 依頼内容 -->
            <div style="margin-top: 50px;">
                <!-- 依頼者 -->
                <div id="irai_person_show">
                    <div class="irai_title" style="width: 100px;">担当者</div>
                    <div class="flex2 mt-3">
                        <div>所属：</div>                    
                        <div>
                            <select class="form-select" id="shozoku">
                                <option></option>
                                {% for i in shozoku_list %}
                                <option>{{i}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="hissu">*</div>
                        <div style="margin-left: 50px;">担当者：</div>
                        <div><input class="form-control" type="text" id="tantou"></div>
                        <div class="hissu">*</div>
                    </div>
                </div>

                <!-- 内容 -->
                <div class="irai_title mt-5" style="width: 100px;">依頼内容</div>
                <div class="flex2 mt-4">
                    <div>
                        <button type="button" class="btn btn-outline-dark" id="irai_zaiko" name="btn_irai" style="width: 200px;"
                            data-bs-toggle="modal" data-bs-target="#zaiko_modal">物流在庫出荷</button>
                    </div>
                    <div style="margin-left: 50px;">
                        <button type="button" class="btn btn-outline-dark" id="irai_keep" name="btn_irai" style="width: 200px;"
                            data-bs-toggle="modal" data-bs-target="#keep_modal">キープ</button>                       
                    </div>
                    <div style="margin-left: 50px;">
                        <button type="button" class="btn btn-outline-dark" id="irai_catalog" name="btn_irai" style="width: 200px;"
                            data-bs-toggle="modal" data-bs-target="#catalog_modal">カタログ発送</button>
                    </div>
                </div>
                
                <!-- 送信 -->
                <div class="mt-5">
                    <button type="button" class="btn btn-outline-dark" style="height: 4em" onclick="irai_send()">
                        <img src="{% static 'tora.gif' %}"> >> では、上記内容で依頼します！（クリックして送信）
                    </button>
                </div>

            </div>





            <!-- モーダル1　手動 -->
            <div class="modal fade" id="manual_modal" tabindex="-1" role="dialog" aria-labelledby="modal_1" aria-hidden="true">
                <div class="modal-dialog modal-xl" role="document">
                    <div class="modal-content">
                        <!-- header -->
                        <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <!-- body -->
                        <div class="modal-body">
                            <!-- 商品検索 -->
                            <div class="flex2">
                                <div><i class="bi bi-search"></i> 商品検索：</div>
                                <div style="width: 500px;"><input class="form-control" type="text" id="hinban_enter"></div>
                            </div>
                            <div class="flex2 mt-4" style="font-size: 0.9em;">
                                <div>
                                    <select class="form-control" id="hinban" 
                                        style="width: 600px; height:120px;" size="5" onclick="hinban_click()"></select>
                                </div>
                                <div style="margin-left: 30px;">
                                    <select class="form-control" id="color" name="color_size"
                                        style="width: 200px; height:120px;" onclick="color_size()" multiple></select>
                                </div>
                                <div style="margin-left: 30px;">
                                    <select class="form-control" id="size" name="color_size"
                                        style="width: 150px; height:120px;" onclick="color_size()" multiple></select>
                                </div>
                            </div>
                            <!-- 拠点ボタン -->
                            <div class="flex2" style="margin-top: 30px;" id="places_btn"></div>
                            <!-- 商品一覧 -->
                            <div class="inlineframe" style="margin-top: 10px; height: 350px;">
                                <table class="table table-bordered tb_zaiko sticky_table">
                                    <thead>
                                        <tr class="table-secondary">
                                            <th>カラー</th>
                                            <th>サイズ</th>
                                            <th style="width: 100px;">数量</th>
                                            <th style="width: 100px;">発注可能数</th>
                                            <th>注意事項</th>
                                        </tr>
                                    </thead>
                                    <tbody id="item_list"></tbody> 
                                </table>
                            </div>
                        </div>
                        <!-- footer -->
                        <div class="modal-footer" style="justify-content: space-between;">
                            <div>
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">キャンセル</button>
                            </div> 
                            <div>
                                <button type="button" class="btn btn-primary" id="item_add" onclick="item_add()"><i class="bi bi-plus-lg"></i> 追加する</button>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>


            <!-- モーダル2　CSV -->
            <div class="modal fade" id="csv_modal" tabindex="-1" role="dialog" aria-labelledby="modal_2" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <!-- body -->
                        <div class="modal-body">
                            <div id="dropzone" style="border: 2px dashed #ccc; padding: 30px;">
                                ここにCSVファイルをドロップしてください
                            </div>
                            <div id="csv_result" style="margin-top: 10px;"></div>
                        </div>
                        <!-- footer -->
                        <div class="modal-footer" style="justify-content: space-between;">
                            <div>
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">キャンセル</button>
                            </div> 
                            <div>
                                <button type="button" class="btn btn-primary" id="csv_add" onclick="csv_add()"><i class="bi bi-plus-lg"></i> 追加する</button>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>

            <!-- モーダル3　在庫出荷 -->
            <div class="modal fade" id="zaiko_modal" tabindex="-1" role="dialog" aria-labelledby="modal_3" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <!-- header -->
                        <div class="modal-header">
                            <div style="font-size: 1.2em; font-weight: bold;">物流在庫出荷</div>
                            <div><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
                        </div>
                        <!-- body -->
                        <div class="modal-body">
                            <!-- 出荷日選択 -->
                            <div>■ 出荷日を選択してください。</div>
                            <div class="flex2 mt-2">
                                <div>
                                    <button type="button" class="btn btn-outline-primary" id="zaiko_regular" style="width: 200px;">
                                        定期便<br>
                                        <span style="font-weight: bold;">10月29日（水）出荷</span><br>
                                        <span style="font-size: 0.8em;">（月水金 10時 ※祝日除く）</span>
                                    </button>
                                </div>
                                <div style="margin-left: 30px;">
                                    <button type="button" class="btn btn-outline-danger" id="zaiko_hurry" style="width: 200px;">
                                        お急ぎ便<br>
                                        <span style="font-weight: bold;">10月28日（火）出荷</span><br>
                                        <span style="font-size: 0.8em;">（翌営業日）</span>
                                    </button>
                                </div>
                            </div>
                            <div class="mt-2" id="zaiko_hurry_select" style="font-size: 0.9em; color: #ff0000; display: none;">
                                ※<b>当日出荷</b>を希望する場合は、<br>
                                依頼送信後に表示される「依頼No」を必ず出荷部まで連絡してください。
                            </div>
                            <!-- 加工/無地選択 -->
                            <div class="mt-5">■ 商品の種類を選択してください。</div>
                            <div class="flex2 mt-2">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="zaiko_kakou" name="radio_zaiko">
                                    <label for="zaiko_kakou">加工あり</label>
                                </div>
                                <div class="form-check" style="margin-left: 30px;">
                                    <input class="form-check-input" type="radio" id="zaiko_muji" name="radio_zaiko">
                                    <label for="zaiko_muji">無地</label>
                                </div>
                            </div>
                            <!-- 加工 -->
                            <div class="flex2 mt-3" id="zaiko_kakou_show" style="display: none;">
                                <div>
                                    <div>加工場 / 店舗 <span style="color: red;">*</span></div>
                                    <div style="width: 210px;"><input class="form-control" type="text" id="zaiko_kakouba" name="zaiko_kakou_form"></div>
                                </div>
                                <div style="margin-left: 20px;">
                                    <div>柄名 <span style="color: red;">*</span></div>
                                    <div style="width: 210px;"><input class="form-control" type="text" id="zaiko_gara" name="zaiko_kakou_form"></div>
                                </div>
                            </div>
                            <!-- 無地 -->
                            <div class="flex2 mt-3" id="zaiko_muji_show" style="display: none;">
                                <div>
                                    <div>顧客名 <span style="color: red;">*</span></div>
                                    <div style="width: 200px;"><input class="form-control" type="text" id="zaiko_cus" name="zaiko_muji_form"></div>
                                </div>
                                <div style="margin-left: 20px;">
                                    <div>システム発送日 <span style="color: red;">*</span></div>
                                    <div style="width: 150px;"><input class="form-control" type="date" id="zaiko_system" name="zaiko_muji_form"></div>
                                </div>
                            </div>
                            <!-- 備考 -->
                            <div class="mt-5">
                                <div>■ 連絡事項</div>
                                <div style="font-size: 0.9em;">（加工品と無地を物流より同送する場合は、「柄名&完成予定日」をこちらに記入して下さい）</div>
                                <div><textarea class="form-control" id="zaiko_bikou" rows="3"></textarea></div>                                   
                            </div>
                        </div>
                        <!-- footer -->
                        <div class="modal-footer">
                            <div>
                                <button type="button" class="btn btn-primary" id="modal_zaiko_btn" t1="" t2="">決定する</button>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>

            <!-- モーダル4　キープ -->
            <div class="modal fade" id="keep_modal" tabindex="-1" role="dialog" aria-labelledby="modal_4" aria-hidden="true">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <!-- header -->
                        <div class="modal-header">
                            <div>
                                <span style="font-size: 1.2em; font-weight: bold;">キープ</span>
                                <span style="font-size: 0.9em; color: #ff0000; margin-left: 10px;">※期間は2週間です。</span>
                            </div>
                            <div><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
                        </div>
                        <!-- body -->
                        <div class="modal-body">
                            <div>顧客名 <span style="color: red;">*</span></div>
                            <div><input class="form-control" type="text" id="keep_cus" style="width: 200px;"></div>
                        </div>
                        <!-- footer -->
                        <div class="modal-footer">
                            <div><button type="button" class="btn btn-primary" id="modal_keep_btn">決定する</button></div>    
                        </div>
                    </div>
                </div>
            </div>

            <!-- モーダル5　カタログ発送 -->
            <div class="modal fade" id="catalog_modal" tabindex="-1" role="dialog" aria-labelledby="modal_5" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <!-- header -->
                        <div class="modal-header">
                            <div style="font-size: 1.2em; font-weight: bold;">カタログ発送</div>
                            <div><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>                            
                        </div>
                        <!-- body -->
                        <div class="modal-body">
                            <!-- 選択 -->
                            <div class="flex2">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="catalog_tempo" name="radio_catalog">
                                    <label for="catalog_tempo">店舗あて</label>
                                </div>
                                <div class="form-check" style="margin-left: 50px;">
                                    <input class="form-check-input" type="radio" id="catalog_cus" name="radio_catalog">
                                    <label for="catalog_cus">顧客直送</label>
                                </div>
                            </div>
                            <!-- 店舗あて -->
                            <div class="mt-4" id="catalog_tempo_show" style="display: none;">
                                <div>店舗名 <span style="color: red;">*</span></div>                    
                                <div style="width: 150px;">
                                    <select class="form-select" id="cat_tempo">
                                        <option></option>
                                        {% for i in shozoku_list %}
                                        <option>{{i}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>                    
                            <!-- 顧客直送 -->
                            <div class="mt-4" id="catalog_cus_show" style="display: none;">
                                <div class="flex2">
                                    <div>
                                        <div>会社名</div>
                                        <div style="width: 220px;"><input class="form-control" type="text" id="cat_com" name="cat_cus_form"></div>
                                    </div>
                                    <div style="margin-left: 20px;">
                                        <div>氏名 <span style="color: red;">*</span></div>                                    
                                        <div style="width: 210px;"><input class="form-control" type="text" id="cat_cus" name="cat_cus_form"></div>                                        
                                    </div>
                                </div>
                                <div class="flex2 mt-3">
                                    <div>
                                        <div>郵便番号 <span style="color: red;">*</span></div>
                                        <div><input class="form-control" type="text" id="cat_yubin" name="cat_cus_form" style="width: 100px;"></div>
                                    </div>
                                    <div style="margin-left: 20px;">
                                        <div>都道府県 <span style="color: red;">*</span></div>
                                        <div><input class="form-control" type="text" id="cat_pref" name="cat_cus_form" style="width: 100px;"></div>                                       
                                    </div>
                                    <div style="margin-left: 20px;">
                                        <div>市区町村 <span style="color: red;">*</span></div>
                                        <div><input class="form-control" type="text" id="cat_city" name="cat_cus_form" style="width: 210px;"></div>
                                    </div>
                                </div>
                                <div class="flex2 mt-3">
                                    <div>
                                        <div>番地 <span style="color: red;">*</span></div>
                                        <div><input class="form-control" type="text" id="cat_banchi" name="cat_cus_form" style="width: 220px;"></div>
                                    </div>
                                    <div style="margin-left: 20px;">
                                        <div>建物名（部屋番号）</div>
                                        <div><input class="form-control" type="text" id="cat_build" name="cat_cus_form" style="width: 210px;"></div>
                                    </div>
                                </div>
                                <div class="flex2 mt-3">
                                    <div>
                                        <div>電話番号 <span style="color: red;">*</span></div>
                                        <div><input class="form-control" type="text" id="cat_tel" name="cat_cus_form" style="width: 140px;"></div>
                                    </div>
                                    <div style="margin-left: 20px;">
                                        <div>メールアドレス（発送連絡）</div>
                                        <div><input class="form-control" type="email" id="cat_mail" name="cat_cus_form" style="width: 290px;"></div>
                                    </div>
                                </div>
                                
                            </div>

                        </div>
                        <!-- footer -->
                        <div class="modal-footer">
                            <div>
                                <button type="button" class="btn btn-primary" id="modal_catalog_btn" t1="">決定する</button>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>

        </div>
        


    </div>


    <!-- 各種Ajax -->
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i <cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
  
        var csrftoken = getCookie('csrftoken');
  
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
  
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });



        // モーダル_発注CSV
        const dropzone = document.getElementById('dropzone');

        dropzone.addEventListener('dragover', e => {
            e.preventDefault();
            dropzone.style.background = '#eef';
        });

        dropzone.addEventListener('drop', e => {
            e.preventDefault();
            const file = e.dataTransfer.files[0];
            const reader = new FileReader();
            reader.readAsText(file,"Shift_JIS");
            reader.onload = () => {
                const text = reader.result;
                
                $.ajax({
                    'url': '{% url "zaiko:order_csv_check" %}',
                    'type': 'POST',
                    'data': {"text":text},
                    'dataType': 'json'
                })
                .done(function(response){
                    var str="";
                    for (var i of response.order_csv){
                        var result="";
                        if (i.result == "JAN重複"){
                            result="<span style='color:red'>DBのJANが重複しています</span>";
                        } else if (i.result == "連動"){
                            result="<span style='color:red'>アプリと連動していません</span>";
                        } else if (i.result == "在庫"){
                            result="<span style='color:red'>発注可能数を超えています</span>";
                        } else if (i.result == "リスト"){
                            result="<span style='color:red'>発注リストに追加済みです</span>";
                        } else {
                            result="<span style='color:green; font-size:1.2em' id='" + i.hontai_kazu + "' name='csv_order'>" + 
                                "<i class='bi bi-check-circle-fill'></i></span>";
                        }
                        str = str + 
                            "<tr><td>" + i.hinmei + "</td><td style='text-align: right;'>" + i.kazu +
                                 "</td><td style='text-align: center;'>" + result + "</td></tr>";
                    }
                    str="<table class='table table-bordered tb_zaiko mt-4'><thead><tr class='table-secondary'>" + 
                        "<th>品名</th><th style='text-align: center;'>数量</th>" +
                        "<th style='text-align: center;'>結果</th></tr></thead><tbody>" + str + "</tbody></table>";

                    document.getElementById("csv_result").innerHTML=str;
                });
            };
        });


        // モーダル_発注CSV_追加
        function csv_add(){
            var items=document.getElementsByName("csv_order");
            var item_list=[];
            for (var i=0 ; i<items.length ; i++){
                item_list.push(items[i].id.replace("csv_",""));
            };
            if (item_list.length == 0){
                window.alert("追加できる商品がありません！");
                return
            }
            item_list=JSON.stringify(item_list);
            $.ajax({
                'url': '{% url "zaiko:csv_item_add" %}',
                'type': 'POST',
                'data': {'item_list': item_list},
                'dataType': 'json'
            })
            .done(function(response){
                window.alert("商品を追加しました！");
                document.getElementById("csv_result").innerHTML="";
                // 商品一覧
                order_list(response);
            });
        }


        //モーダル_品番検索
        var hinban_enter = document.getElementById("hinban_enter");
        hinban_enter.addEventListener("input",function(){
            document.getElementById("hinban").innerHTML="";
            document.getElementById("color").innerHTML="";
            document.getElementById("size").innerHTML="";
            document.getElementById("places_btn").innerHTML="";
            document.getElementById("item_list").innerHTML="";
            if (hinban_enter.value == ""){
                document.getElementById("hinban").innerHTML="";
                return
            };
            $.ajax({
                'url': '{% url "zaiko:hinban_enter" %}',
                'type': 'POST',
                'data': {'hinban_enter': hinban_enter.value},
                'dataType': 'json'
            })
            .done(function(response){
                var list = "";
                if (response.hinban_list.length == 0){
                    list='<option></option>';
                } else {
                    for (var i of response.hinban_list){
                        list = list + '<option>' + i + '</option>';
                    }
                };
                document.getElementById("hinban").innerHTML=list;
                document.getElementById("color").innerHTML="";
                document.getElementById("size").innerHTML="";
            });
        });


        //モーダル_品番（品名）選択
        function hinban_click(){
            if (hinban.value != ""){
                $.ajax({
                    'url': '{% url "zaiko:hinban_click" %}',
                    'type': 'POST',
                    'data': {'hinban': hinban.value}, 
                    'dataType': 'json'
                })
                .done(function(response){
                    // color
                    var color_list="";
                    if (response.color_list.length == 0){
                        color_list='<option></option>';
                    } else {
                        for (var i of response.color_list){
                            color_list = color_list + '<option>' + i + '</option>';
                        }
                    };
                    // size
                    var size_list="";
                    if (response.size_list.length == 0){
                        size_list='<option></option>';
                    } else {
                        for (i of response.size_list){
                            size_list = size_list + '<option>' + i + '</option>';
                        }
                    };
                    // color、size
                    document.getElementById("color").innerHTML=color_list;
                    document.getElementById("size").innerHTML=size_list;

                    // places
                    place_reset(response);
                    place_click()

                    // 商品リスト
                    item_list(response);
                });
            };
        };


        // モーダル_品番、カラー、サイズ（値取得）
        function hinban_color_size(){
            var hinban = document.getElementById("hinban").value;
            var color=[];
            var elm=document.getElementById("color").options;
            for (i=0 ; i<elm.length ; i++){
                if (elm[i].selected){
                    color.push(elm[i].value);
                };
            };
            var size=[];
            elm=document.getElementById("size").options;
            for (i=0 ; i<elm.length ; i++){
                if (elm[i].selected){
                    size.push(elm[i].value);
                };
            };

            color=JSON.stringify(color);
            size=JSON.stringify(size);
            var dic={"hinban":hinban,"color":color,"size":size};
            return dic
        };


        // モーダル_カラー、サイズ共通（クリック）
        function color_size(){
            var dic=hinban_color_size()
            $.ajax({
                'url': '{% url "zaiko:color_size_click" %}',
                'type': 'POST',
                'data': {
                    'hinban': dic.hinban,
                    'color':dic.color,
                    'size':dic.size,
                    },
                'dataType': 'json'
            })
            .done(function(response){
                item_list(response);
            });
        };


        // モーダル_商品リスト
        function item_list(response){
            str="";
            for (var i of response.item_list){
                if (response.ses_list.includes(i.hontai_num.toString())){
                    input="<span style='font-size:0.9em; color:red;'>追加済み</span>";
                } else {
                    input="<input type='number' min='0' max='" + i.available + 
                        "' class='form-control' id='hontai_" + i.hontai_num + "' name='orders' style='text-align:right;'>";
                }
                var attention="";
                if (i.attention){attention = i.attention};
                str = str + "<tr>" +
                    "<td>" + i.color + "</td>" +
                    "<td>" + i.size + "</td>" +
                    "<td>" + input + "</td>" +
                    "<td style='text-align:right;'>" + i.available + "</td>" +
                    "<td>" + attention + "</td></tr>"
            }
            document.getElementById("item_list").innerHTML=str;
        };


        // モーダル_拠点選択
        function place_click(){
            var places=document.getElementsByName("pla_btn");
            for (var i=0; i<places.length; i++){
                places[i].addEventListener("click",function(){
                    var dic=hinban_color_size();
                    $.ajax({
                        'url': '{% url "zaiko:place_click" %}',
                        'type': 'POST',
                        'data': {
                            'hinban': dic.hinban,
                            'color':dic.color,
                            'size':dic.size,
                            'place':this.value
                            },
                        'dataType': 'json'
                    })
                    .done(function(response){
                        // places
                        place_reset(response);
                        place_click();

                        // 商品リスト
                        item_list(response);
                    });
                })
            }
        };


        // モーダル_拠点リセット
        function place_reset(response){
            var str="";
            for (i of response.place_list){
                var btn_class="";
                var btn_icon="";
                if (i == response.place){
                    btn_class="class='btn btn-dark'";
                    btn_icon="<i class='bi bi-truck'></i> ";
                } else {
                    btn_class="class='btn btn-outline-dark'";
                    btn_icon="<i class='bi bi-building'></i> ";
                }
                str = str + "<div style='margin-left:10px;'><button type='button' style='width:150px'" + btn_class + " name='pla_btn'" +
                        " value='" + i + "'>" + btn_icon +  i + "</button></div>"
            }
            document.getElementById("places_btn").innerHTML=str;
        };


        // モーダル_商品追加
        function item_add(){
            var items=document.getElementsByName("orders");
            var item_lists=[];
            for (var i=0 ; i<items.length ; i++){
                if (items[i].value > Number(items[i].max)){
                    window.alert("発注可能数を超えている商品が存在します！");
                    return
                };
            };
            for (i=0 ; i<items.length ; i++){
                if (items[i].value > 0){
                    item_lists.push(items[i].id.replace("hontai_","") + "_" + items[i].value);
                };
            };
            if (item_lists.length == 0){
                window.alert("商品 / 数量が不明です！");
                return
            }
            item_lists=JSON.stringify(item_lists);
            dic=hinban_color_size();
            $.ajax({
                'url': '{% url "zaiko:item_add" %}',
                'type': 'POST',
                'data': {
                    'item_list': item_lists,
                    'hinban':dic.hinban,
                    'color':dic.color,
                    'size':dic.size
                },
                'dataType': 'json'
            })
            .done(function(response){
                window.alert("商品を追加しました！");
                
                // 商品リスト
                item_list(response);  
                // 商品一覧
                order_list(response);                          
            });
        };


        // 依頼商品一覧
        function order_list(response){
            var str="";
            for (i of response.order_list){
                var tr_color="";
                if (i.zaiko == "ng"){
                    tr_color="<tr style='background-color:#f5c2c7;'>";
                    document.getElementById("irai_send_error").style.display="block";
                } else {
                    tr_color="<tr>";
                }

                str = str + tr_color +
                    "<td>" + i.hinban + "</td>" +
                    "<td>" + i.hinmei + "</td>" +
                    "<td>" + i.color + "</td>" +
                    "<td>" + i.size + "</td>" +
                    "<td style='text-align:right;'>" + i.kazu + "</td>" +
                    "<td>" + i.place + "</td>" +
                    "<td style='text-align: center;'>" + 
                        "<button type='button' class='btn btn-outline-dark btn-sm' id='" + i.hontai_kazu + "' name='order_items'" +
                        " zaiko='" + i.zaiko + "'><i class='bi bi-x-lg'></i></button></td></tr>"
            }
            document.getElementById("order_list").innerHTML=str;
            item_del();

            // 一覧が空
            if (response.order_list.length == 0){
                document.getElementById("order_list_nothing").innerText="商品を選択してください。";
            } else {
                document.getElementById("order_list_nothing").innerText="";
            }
        };


        // 商品一覧から削除
        item_del()
        function item_del(){
            var items=document.getElementsByName("order_items");
            for (var i=0; i<items.length; i++){
                items[i].addEventListener("click",function(){
                    var ans=confirm("この商品を依頼リストから削除しますか？");
                    if (ans){
                        $.ajax({
                            'url': '{% url "zaiko:item_del" %}',
                            'type': 'POST',
                            'data': {'hontai_kazu': this.id},                                
                            'dataType': 'json'
                        })
                        .done(function(response){
                            order_list(response);
                        });
                    }
                })
            }
        };


        // 在庫出荷
        var btn_zaiko_regular=document.getElementById("zaiko_regular");
        var btn_zaiko_hurry=document.getElementById("zaiko_hurry");
        var zaiko_hurry_select=document.getElementById("zaiko_hurry_select");
        var modal_zaiko_btn=document.getElementById("modal_zaiko_btn");
        var zaiko=document.getElementsByName("radio_zaiko");

        btn_zaiko_regular.addEventListener("click",function(){
            btn_zaiko_regular.className="btn btn-primary";
            btn_zaiko_hurry.className="btn btn-outline-danger";
            zaiko_hurry_select.style.display="none";
            modal_zaiko_btn.setAttribute("t1","regular");
        })

        btn_zaiko_hurry.addEventListener("click",function(){
            btn_zaiko_regular.className="btn btn-outline-primary";
            btn_zaiko_hurry.className="btn btn-danger";
            zaiko_hurry_select.style.display="";
            modal_zaiko_btn.setAttribute("t1","hurry");
        })
  
        for (var i=0; i<zaiko.length; i++){
            zaiko[i].addEventListener("click",function(){
                for (var h=0; h<zaiko.length; h++){
                    if (this.id==zaiko[h].id){
                        document.getElementById(this.id + "_show").style.display="";
                        modal_zaiko_btn.setAttribute("t2",this.id);
                    } else {
                        document.getElementById(zaiko[h].id + "_show").style.display="none";
                    }
                }
            })
        }


        // キープ_決定ボタン
        document.getElementById("modal_keep_btn").addEventListener("click",function(){
            var keep_cus=document.getElementById("keep_cus").value;
            if (keep_cus==""){
                window.alert("顧客名を入力してください！");
                return
            }
            document.querySelector('#keep_modal .btn-close').click();
            $.ajax({
                'url': '{% url "zaiko:btn_irai_keep" %}',
                'type': 'POST',
                'data': {
                    'irai_type': "keep",
                    'keep_cus':keep_cus,
                },
                'dataType': 'json'
            })
            .done(function(response){
                
                irai_send();
            });
        })


        // カタログ_所属を店舗に反映
        document.getElementById("shozoku").addEventListener("change",function(){
            document.getElementById("cat_tempo").value=document.getElementById("shozoku").value;
        })

        
        // カタログ_発送先選択
        var modal_catalog_btn=document.getElementById("modal_catalog_btn");
        var catalog=document.getElementsByName("radio_catalog");
        for (var i=0; i<catalog.length; i++){
            catalog[i].addEventListener("click",function(){
                for (var h=0; h<catalog.length; h++){
                    if (this.id==catalog[h].id){
                        document.getElementById(this.id + "_show").style.display="";
                        modal_catalog_btn.setAttribute("t1",this.id);
                    } else {
                        document.getElementById(catalog[h].id + "_show").style.display="none";
                    }
                }
            })
        }


        // カタログ_住所入力
        var yubin =document.getElementById("cat_yubin");
        yubin.addEventListener("change",function(){
            if (yubin.value != ""){
                var zipcode=yubin.value.replace("-","");
                var url="https://zip-cloud.appspot.com/api/search?zipcode=" + zipcode.toString()
                fetch(url)
                .then(function (data) {
                    return data.json(); // 読み込むデータをJSONに設定
                })
                .then(function (json) {
                    var adress=json["results"];
                    document.getElementById("cat_pref").value=adress[0]["address1"]
                    document.getElementById("cat_city").value=adress[0]["address2"] + adress[0]["address3"]
                });
            }
        })


        // 最終_依頼送信
        function irai_send(){
            // 項目チェック
            var shozoku=document.getElementById("shozoku").value;
            var tantou=document.getElementById("tantou").value;
            var order_nothing=document.getElementById("order_list_nothing").innerText;
            if (shozoku == ""){
                window.alert("所属を選択してください！");
                return
            }
            if (tantou == ""){
                window.alert("担当者を入力してください！");
                return
            }
            if (order_nothing != ""){
                window.alert("商品が選択されていません！");
                return
            }

            // 在庫チェック
            $.ajax({
                'url': '{% url "zaiko:irai_send_check" %}',
                'type': 'POST'
            })
            .done(function(response){
                // 在庫切れ発生
                if (response.alert > 0){
                    order_list(response);
                    window.scroll(0,0);
                    return

                // 問題なし
                } else {
                    $.ajax({
                        'url': '{% url "zaiko:irai_send_ok" %}',
                        'type': 'POST',
                        'data': {
                            'shozoku': shozoku,
                            'tantou': tantou,
                        },
                        'dataType': 'json'
                    })
                    .done(function(response){
                        
                        
                    });
                }
            });
        }

    </script>

    <!-- モーダル用 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</body>
</html>