{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>物流在庫表</title>
</head>
<body>

    <div class="mt-3 mb-5">

        <div style="margin: 0 auto; width: 1100px;">

            <!-- メニュー -->
            <div class="flex2">
                <div><a href="{% url 'zaiko:index' %}">出荷依頼</a></div>
                <div style="margin-left: 50px;"><a href="{% url 'zaiko2:henshu_index' %}">商品登録/編集</a></div>
                <div style="margin-left: 50px;"><a href="{% url 'zaiko2:size_index' %}">サイズ登録</a></div>
                <div style="margin-left: 50px;"><a href="{% url 'zaiko:download_excel_1' %}">出荷作業依頼書</a></div>
                <div style="margin-left: 50px;"><a href="{% url 'zaiko:download_excel_2' %}">資材・カタログ出荷依頼</a></div>
            </div>
            <hr>
        
        

            <!-- 入力選択ボタン -->
            <div class="flex mt-5">
                <div>
                    <button type="button" class="btn btn-outline-primary main_btn" id="shouhin_manual" data-bs-toggle="modal" data-bs-target="#manual_modal">
                        <span style="font-size: 1.5em;"><i class="bi bi-cart-plus"></i></span>
                        <span style="font-size: 1.2em; margin-left: 7px;">出荷依頼 / 在庫確認 / キープ</span>
                    </button>
                </div>
                <div style="margin-left: 100px;">
                    <button type="button" class="btn btn-outline-success main_btn" id="shouhin_csv" data-bs-toggle="modal" data-bs-target="#csv_modal">
                        <span style="font-size: 1.5em;"><i class="bi bi-filetype-csv"></i></span>
                        <span style="font-size: 1.2em; margin-left: 7px;">新基幹発注CSV取込</span>
                    </button>
                </div>
            </div>

            <!-- エラー表示 -->
            {% if alert > 0 %}
            <div id="irai_send_error" style="display: block;">
            {% else %}
            <div id="irai_send_error" style="display: none;">
            {% endif %}
                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889
                        0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 
                        5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </symbol>
                </svg>
                <div class="alert alert-danger d-flex align-items-center mt-4" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24"><use xlink:href="#exclamation-triangle-fill"/></svg>
                    <div>最新の発注可能数を超えている商品が存在します！一度取り消してから、再度商品を追加してください。</div>
                </div>
            </div>

            <!-- 依頼商品一覧 -->
            <div class="flex mt-4">
                <table class="table table-bordered tb_zaiko">
                    <thead>
                        <tr class="table-secondary">
                            <th>品番</th>
                            <th>品名</th>
                            <th>カラー</th>
                            <th>サイズ</th>
                            <th>数量</th>
                            <th>拠点</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="order_list">
                        {% for i in order_list %}
                            {% if i.zaiko == "ng" %}
                            <tr style="background-color: #f5c2c7;">
                            {% else %}
                            <tr>
                            {% endif %}
                                <td>{{i.hinban}}</td>
                                <td>{{i.hinmei}}</td>
                                <td>{{i.color}}</td>
                                <td>{{i.size}}</td>
                                <td style="text-align: right;">{{i.kazu}}</td>
                                <td>{{i.place}}</td>
                                <td style="text-align: center;">
                                    <button type="button" class="btn btn-outline-dark btn-sm" id="{{i.hontai_kazu}}" name="order_items" zaiko="{{i.zaiko}}">
                                        <i class="bi bi-x-lg"></i>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div id="order_list_nothing" style="color: #808080;">{% if order_list|length == 0 %}商品を選択してください。{% endif %}</div>
            </div>

            <!-- 依頼内容 -->
            <div style="margin-top: 50px;">
                <!-- 依頼者 -->
                <div class="irai_title" style="width: 100px;">担当者</div>
                <div class="flex2 mt-3">
                    <div>所属：</div>
                    <div>
                        <select class="form-select hissu" id="shozoku">
                            <option></option>
                            {% for i in shozoku_list %}
                            <option>{{i}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div style="margin-left: 50px;">担当者：</div>
                    <div><input class="form-control hissu" type="text" id="tantou"></div>
                </div>

                <!-- 内容 -->
                <div class="irai_title mt-5" style="width: 100px;">依頼内容</div>
                <div class="flex2 mt-3">
                    <div>内容：</div>
                    <div style="width: 230px;">
                        <select class="form-select hissu" id="irai_type">
                            <option value=""></option>
                            <option value="yoku_kakou">翌日出荷（加工場送り）</option>
                            <option value="yoku_muji">翌日出荷（無地注文）</option>
                            <option value="keep">キープ</option>
                            <option value="tou_kakou">当日出荷（加工場送り）</option>
                            <option value="tou_muji">当日出荷（無地注文）</option>
                        </select>
                    </div>
                    <div id="irai_explain_show" style="margin-left: 20px; background-color: #fff9c4; padding: 0.5em; width: 750px; display: none;">
                        <span style="font-weight: bold; color: #e8ae00;"><i class="bi bi-pencil"></i> 説明：</span>
                        <span id="irai_explain" style="font-size: 0.9em;"></span>
                    </div>
                </div>

                <div style="margin-top: 40px;">
                    <!-- 翌日出荷（加工場送り） -->
                    <div class="flex2" id="irai_yoku_kakou" name="irai_form" style="display: none;">
                        <div>加工場：</div>
                        <div><input class="form-control hissu" type="text" id="yoku_kakou_kakou" name="form_yoku_kakou"></div>
                        <div style="margin-left: 50px;">柄名：</div>
                        <div><input class="form-control hissu" type="text" id="yoku_kakou_gara" name="form_yoku_kakou"></div>
                        <div style="margin-left: 50px;">出荷日指定：</div>
                        <div style="width: 230px;">
                            <select class="form-select hissu" id="yoku_kakou_day" name="form_yoku_kakou">
                                <option>翌営業日（土日祝を除く）</option>
                                {% for i in hassou_day %}
                                <option>{{i}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <!-- 翌日出荷（無地注文） -->
                    <div class="flex2" id="irai_yoku_muji" name="irai_form" style="display: none;">
                        <div>顧客名：</div>
                        <div><input class="form-control hissu" type="text" id="yoku_muji_cus" name="form_yoku_muji"></div>
                        <div style="margin-left: 50px;">システム発送予定日：</div>
                        <div><input class="form-control hissu" type="date" id="yoku_muji_day" name="form_yoku_muji"></div>
                    </div>
                    <!-- キープ -->
                    <div class="flex2" id="irai_keep" name="irai_form" style="display: none;">
                        <div>顧客名：</div>
                        <div><input class="form-control hissu" type="text" id="keep_cus" name="form_keep"></div>
                    </div>
                    <!-- 当日出荷（加工場送り） -->
                    <div class="flex2" id="irai_tou_kakou" name="irai_form" style="display: none;">
                        <div>加工場：</div>
                        <div><input class="form-control hissu" type="text" id="tou_kakou_kakou" name="form_tou_kakou"></div>
                        <div style="margin-left: 50px;">柄名：</div>
                        <div><input class="form-control hissu" type="text" id="tou_kakou_gara" name="form_tou_kakou"></div>
                    </div>
                    <!-- 当日出荷（無地注文） -->
                    <div class="flex2" id="irai_tou_muji" name="irai_form" style="display: none;">
                        <div>顧客名：</div>
                        <div><input class="form-control hissu" type="text" id="tou_muji_cus" name="form_tou_muji"></div>
                    </div>
                </div>
                
                <!-- 備考 -->
                <div class="irai_title mt-5" style="width: 150px;">備考 / 連絡事項</div>
                <div style="font-size: 0.9em; margin-top: 5px;">※加工品と無地を物流より同送する場合は「柄名&完成予定日」をこちらに記入して下さい。</div>
                <div class="mt-3" style="width: 500px;">
                    <textarea class="form-control" id="irai_bikou" rows="3"></textarea>
                </div>
                
                <!-- 送信 -->
                <div class="mt-5">
                    <button type="button" class="btn btn-outline-dark" style="height: 4em" onclick="irai_send()">
                        <img src="{% static 'tora.gif' %}"> >> では、上記内容で依頼します！（クリックして送信）
                    </button>
                </div>

            </div>





            <!-- モーダル1　手動 -->
            <div class="modal fade" id="manual_modal" tabindex="-1" role="dialog" aria-labelledby="modal_1" aria-hidden="true">
                <div class="modal-dialog modal-xl" role="document">
                    <div class="modal-content">
                        <!-- header -->
                        <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <!-- body -->
                        <div class="modal-body">
                            <!-- 商品検索 -->
                            <div class="flex2">
                                <div><i class="bi bi-search"></i> 商品検索：</div>
                                <div style="width: 500px;"><input class="form-control" type="text" id="hinban_enter"></div>
                            </div>
                            <div class="flex2 mt-4" style="font-size: 0.9em;">
                                <div>
                                    <select class="form-control" id="hinban" 
                                        style="width: 600px; height:120px;" size="5" onclick="hinban_click()"></select>
                                </div>
                                <div style="margin-left: 30px;">
                                    <select class="form-control" id="color" name="color_size"
                                        style="width: 200px; height:120px;" onclick="color_size()" multiple></select>
                                </div>
                                <div style="margin-left: 30px;">
                                    <select class="form-control" id="size" name="color_size"
                                        style="width: 150px; height:120px;" onclick="color_size()" multiple></select>
                                </div>
                            </div>
                            <!-- 拠点ボタン -->
                            <div class="flex2" style="margin-top: 30px;" id="places_btn"></div>
                            <!-- 商品一覧 -->
                            <div class="inlineframe" style="margin-top: 10px; height: 350px;">
                                <table class="table table-bordered tb_zaiko sticky_table">
                                    <thead>
                                        <tr class="table-secondary">
                                            <th>カラー</th>
                                            <th>サイズ</th>
                                            <th style="width: 100px;">数量</th>
                                            <th style="width: 100px;">発注可能数</th>
                                            <th>注意事項</th>
                                        </tr>
                                    </thead>
                                    <tbody id="item_list"></tbody> 
                                </table>
                            </div>
                        </div>
                        <!-- footer -->
                        <div class="modal-footer" style="justify-content: space-between;">
                            <div>
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">キャンセル</button>
                            </div> 
                            <div>
                                <button type="button" class="btn btn-primary" id="item_add" onclick="item_add()"><i class="bi bi-plus-lg"></i> 追加する</button>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>


            <!-- モーダル2　CSV -->
            <div class="modal fade" id="csv_modal" tabindex="-1" role="dialog" aria-labelledby="modal_2" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <!-- body -->
                        <div class="modal-body">
                            <div id="dropzone" style="border: 2px dashed #ccc; padding: 30px;">
                                ここにCSVファイルをドロップしてください
                            </div>
                            <div id="csv_result" style="margin-top: 10px;"></div>
                        </div>
                        <!-- footer -->
                        <div class="modal-footer" style="justify-content: space-between;">
                            <div>
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">キャンセル</button>
                            </div> 
                            <div>
                                <button type="button" class="btn btn-primary" id="csv_add" onclick="csv_add()"><i class="bi bi-plus-lg"></i> 追加する</button>
                            </div> 
                        </div>
                    </div>
                </div>
            </div> 

        </div>
        


    </div>


    <!-- 各種Ajax -->
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i <cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
  
        var csrftoken = getCookie('csrftoken');
  
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
  
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });



        // モーダル_発注CSV
        const dropzone = document.getElementById('dropzone');

        dropzone.addEventListener('dragover', e => {
            e.preventDefault();
            dropzone.style.background = '#eef';
        });

        dropzone.addEventListener('drop', e => {
            e.preventDefault();
            const file = e.dataTransfer.files[0];
            const reader = new FileReader();
            reader.readAsText(file,"Shift_JIS");
            reader.onload = () => {
                const text = reader.result;
                
                $.ajax({
                    'url': '{% url "zaiko:order_csv_check" %}',
                    'type': 'POST',
                    'data': {"text":text},
                    'dataType': 'json'
                })
                .done(function(response){
                    var str="";
                    for (var i of response.order_csv){
                        var result="";
                        if (i.result == "JAN重複"){
                            result="<span style='color:red'>DBのJANが重複しています</span>";
                        } else if (i.result == "連動"){
                            result="<span style='color:red'>アプリと連動していません</span>";
                        } else if (i.result == "在庫"){
                            result="<span style='color:red'>発注可能数を超えています</span>";
                        } else if (i.result == "リスト"){
                            result="<span style='color:red'>発注リストに追加済みです</span>";
                        } else {
                            result="<span style='color:green; font-size:1.2em' id='" + i.hontai_kazu + "' name='csv_order'>" + 
                                "<i class='bi bi-check-circle-fill'></i></span>";
                        }
                        str = str + 
                            "<tr><td>" + i.hinmei + "</td><td style='text-align: right;'>" + i.kazu +
                                 "</td><td style='text-align: center;'>" + result + "</td></tr>";
                    }
                    str="<table class='table table-bordered tb_zaiko mt-4'><thead><tr class='table-secondary'>" + 
                        "<th>品名</th><th style='text-align: center;'>数量</th>" +
                        "<th style='text-align: center;'>結果</th></tr></thead><tbody>" + str + "</tbody></table>";

                    document.getElementById("csv_result").innerHTML=str;
                });
            };
        });


        // モーダル_発注CSV_追加
        function csv_add(){
            var items=document.getElementsByName("csv_order");
            var item_list=[];
            for (var i=0 ; i<items.length ; i++){
                item_list.push(items[i].id.replace("csv_",""));
            };
            if (item_list.length == 0){
                window.alert("追加できる商品がありません！");
                return
            }
            item_list=JSON.stringify(item_list);
            $.ajax({
                'url': '{% url "zaiko:csv_item_add" %}',
                'type': 'POST',
                'data': {'item_list': item_list},
                'dataType': 'json'
            })
            .done(function(response){
                window.alert("商品を追加しました！");
                document.getElementById("csv_result").innerHTML="";
                // 商品一覧
                order_list(response);
            });
        }


        //モーダル_品番検索
        var hinban_enter = document.getElementById("hinban_enter");
        hinban_enter.addEventListener("input",function(){
            document.getElementById("hinban").innerHTML="";
            document.getElementById("color").innerHTML="";
            document.getElementById("size").innerHTML="";
            document.getElementById("places_btn").innerHTML="";
            document.getElementById("item_list").innerHTML="";
            if (hinban_enter.value == ""){
                document.getElementById("hinban").innerHTML="";
                return
            };
            $.ajax({
                'url': '{% url "zaiko:hinban_enter" %}',
                'type': 'POST',
                'data': {'hinban_enter': hinban_enter.value},
                'dataType': 'json'
            })
            .done(function(response){
                var list = "";
                if (response.hinban_list.length == 0){
                    list='<option></option>';
                } else {
                    for (var i of response.hinban_list){
                        list = list + '<option>' + i + '</option>';
                    }
                };
                document.getElementById("hinban").innerHTML=list;
                document.getElementById("color").innerHTML="";
                document.getElementById("size").innerHTML="";
            });
        });


        //モーダル_品番（品名）選択
        function hinban_click(){
            if (hinban.value != ""){
                $.ajax({
                    'url': '{% url "zaiko:hinban_click" %}',
                    'type': 'POST',
                    'data': {'hinban': hinban.value}, 
                    'dataType': 'json'
                })
                .done(function(response){
                    // color
                    var color_list="";
                    if (response.color_list.length == 0){
                        color_list='<option></option>';
                    } else {
                        for (var i of response.color_list){
                            color_list = color_list + '<option>' + i + '</option>';
                        }
                    };
                    // size
                    var size_list="";
                    if (response.size_list.length == 0){
                        size_list='<option></option>';
                    } else {
                        for (i of response.size_list){
                            size_list = size_list + '<option>' + i + '</option>';
                        }
                    };
                    // color、size
                    document.getElementById("color").innerHTML=color_list;
                    document.getElementById("size").innerHTML=size_list;

                    // places
                    place_reset(response);
                    place_click()

                    // 商品リスト
                    item_list(response);
                });
            };
        };


        // モーダル_品番、カラー、サイズ（値取得）
        function hinban_color_size(){
            var hinban = document.getElementById("hinban").value;
            var color=[];
            var elm=document.getElementById("color").options;
            for (i=0 ; i<elm.length ; i++){
                if (elm[i].selected){
                    color.push(elm[i].value);
                };
            };
            var size=[];
            elm=document.getElementById("size").options;
            for (i=0 ; i<elm.length ; i++){
                if (elm[i].selected){
                    size.push(elm[i].value);
                };
            };

            color=JSON.stringify(color);
            size=JSON.stringify(size);
            var dic={"hinban":hinban,"color":color,"size":size};
            return dic
        };


        // モーダル_カラー、サイズ共通（クリック）
        function color_size(){
            var dic=hinban_color_size()
            $.ajax({
                'url': '{% url "zaiko:color_size_click" %}',
                'type': 'POST',
                'data': {
                    'hinban': dic.hinban,
                    'color':dic.color,
                    'size':dic.size,
                    },
                'dataType': 'json'
            })
            .done(function(response){
                item_list(response);
            });
        };


        // モーダル_商品リスト
        function item_list(response){
            str="";
            for (var i of response.item_list){
                if (response.ses_list.includes(i.hontai_num.toString())){
                    input="<span style='font-size:0.9em; color:red;'>追加済み</span>";
                } else {
                    input="<input type='number' min='0' max='" + i.available + 
                        "' class='form-control' id='hontai_" + i.hontai_num + "' name='orders' style='text-align:right;'>";
                }
                var attention="";
                if (i.attention){attention = i.attention};
                str = str + "<tr>" +
                    "<td>" + i.color + "</td>" +
                    "<td>" + i.size + "</td>" +
                    "<td>" + input + "</td>" +
                    "<td style='text-align:right;'>" + i.available + "</td>" +
                    "<td>" + attention + "</td></tr>"
            }
            document.getElementById("item_list").innerHTML=str;
        };


        // モーダル_拠点選択
        function place_click(){
            var places=document.getElementsByName("pla_btn");
            for (var i=0; i<places.length; i++){
                places[i].addEventListener("click",function(){
                    var dic=hinban_color_size();
                    $.ajax({
                        'url': '{% url "zaiko:place_click" %}',
                        'type': 'POST',
                        'data': {
                            'hinban': dic.hinban,
                            'color':dic.color,
                            'size':dic.size,
                            'place':this.value
                            },
                        'dataType': 'json'
                    })
                    .done(function(response){
                        // places
                        place_reset(response);
                        place_click();

                        // 商品リスト
                        item_list(response);
                    });
                })
            }
        };


        // モーダル_拠点リセット
        function place_reset(response){
            var str="";
            for (i of response.place_list){
                var btn_class="";
                var btn_icon="";
                if (i == response.place){
                    btn_class="class='btn btn-dark'";
                    btn_icon="<i class='bi bi-truck'></i> ";
                } else {
                    btn_class="class='btn btn-outline-dark'";
                    btn_icon="<i class='bi bi-building'></i> ";
                }
                str = str + "<div style='margin-left:10px;'><button type='button' style='width:150px'" + btn_class + " name='pla_btn'" +
                        " value='" + i + "'>" + btn_icon +  i + "</button></div>"
            }
            document.getElementById("places_btn").innerHTML=str;
        };


        // モーダル_商品追加
        function item_add(){
            var items=document.getElementsByName("orders");
            var item_lists=[];
            for (var i=0 ; i<items.length ; i++){
                if (items[i].value > Number(items[i].max)){
                    window.alert("発注可能数を超えている商品が存在します！");
                    return
                };
            };
            for (i=0 ; i<items.length ; i++){
                if (items[i].value > 0){
                    item_lists.push(items[i].id.replace("hontai_","") + "_" + items[i].value);
                };
            };
            if (item_lists.length == 0){
                window.alert("商品 / 数量が不明です！");
                return
            }
            item_lists=JSON.stringify(item_lists);
            dic=hinban_color_size();
            $.ajax({
                'url': '{% url "zaiko:item_add" %}',
                'type': 'POST',
                'data': {
                    'item_list': item_lists,
                    'hinban':dic.hinban,
                    'color':dic.color,
                    'size':dic.size
                },
                'dataType': 'json'
            })
            .done(function(response){
                window.alert("商品を追加しました！");
                
                // 商品リスト
                item_list(response);  
                // 商品一覧
                order_list(response);                          
            });
        };


        // 依頼商品一覧
        function order_list(response){
            var str="";
            for (i of response.order_list){
                var tr_color="";
                if (i.zaiko == "ng"){
                    tr_color="<tr style='background-color:#f5c2c7;'>";
                    document.getElementById("irai_send_error").style.display="block";
                } else {
                    tr_color="<tr>";
                }

                str = str + tr_color +
                    "<td>" + i.hinban + "</td>" +
                    "<td>" + i.hinmei + "</td>" +
                    "<td>" + i.color + "</td>" +
                    "<td>" + i.size + "</td>" +
                    "<td style='text-align:right;'>" + i.kazu + "</td>" +
                    "<td>" + i.place + "</td>" +
                    "<td style='text-align: center;'>" + 
                        "<button type='button' class='btn btn-outline-dark btn-sm' id='" + i.hontai_kazu + "' name='order_items'" +
                        " zaiko='" + i.zaiko + "'><i class='bi bi-x-lg'></i></button></td></tr>"
            }
            document.getElementById("order_list").innerHTML=str;
            item_del();

            // 一覧が空
            if (response.order_list.length == 0){
                document.getElementById("order_list_nothing").innerText="商品を選択してください。";
            } else {
                document.getElementById("order_list_nothing").innerText="";
            }
        };


        // 商品一覧から削除
        item_del()
        function item_del(){
            var items=document.getElementsByName("order_items");
            for (var i=0; i<items.length; i++){
                items[i].addEventListener("click",function(){
                    var ans=confirm("この商品を依頼リストから削除しますか？");
                    if (ans){
                        $.ajax({
                            'url': '{% url "zaiko:item_del" %}',
                            'type': 'POST',
                            'data': {'hontai_kazu': this.id},                                
                            'dataType': 'json'
                        })
                        .done(function(response){
                            order_list(response);
                        });
                    }
                })
            }
        };


        // 依頼内容を選択
        var irai_type=document.getElementById("irai_type");
        var irai_explain_show=document.getElementById("irai_explain_show");
        var irai_explain=document.getElementById("irai_explain");
        irai_type.addEventListener("change",function(){
            // 説明
            irai_explain_show.style.display="block";
            if (irai_type.value == ""){
                irai_explain_show.style.display="none";
                irai_explain.innerText="";
            } else if (irai_type.value == "yoku_kakou" || irai_type.value == "yoku_muji"){
                irai_explain.innerText="通常対応用です。基本はこちらを選択して下さい。当日の入力で､翌営業日に出荷します。";
            } else if (irai_type.value == "keep"){
                irai_explain.innerText="依頼日から2週間キープとなります。";
            } else if (irai_type.value == "tou_kakou" || irai_type.value == "tou_muji"){
                irai_explain.innerHTML="緊急対応用です。当日15時までの入力で当日出荷致します。 <span style='color:red;'>【注意】送信後、必ず出荷課までご連絡下さい。</span>";
            }
            // 入力フォーム
            var irai_form=document.getElementsByName("irai_form");
            for (var i of irai_form){
                i.style.display="none";
            }
            if (irai_type.value !=""){
                document.getElementById("irai_" + irai_type.value).style.display="";
            }
        });


        // 発注送信
        function irai_send(){
            // 項目チェック
            var shozoku=document.getElementById("shozoku").value;
            var tantou=document.getElementById("tantou").value;
            var irai_type=document.getElementById("irai_type").value;
            if (shozoku=="" || tantou=="" || irai_type==""){
                    window.alert("赤枠は入力必須です！");
                    return
                }
            var forms=document.getElementsByName("form_" + irai_type);
            for (var i=0; i<forms.length; i++){
                if (forms[i].value == ""){
                    window.alert("赤枠は入力必須です！");
                    return
                }
            }
            // 在庫チェック
            $.ajax({
                'url': '{% url "zaiko:irai_send_check" %}',
                'type': 'POST'
            })
            .done(function(response){
                if (response.alert > 0){
                    order_list(response);
                    window.scroll(0,0);
                    return

                } else {
                    var form_dic={};
                    for (var i=0; i<forms.length; i++){
                        form_dic[forms[i].id]=forms[i].value
                    }
                    form_dic=JSON.stringify(form_dic);

                    $.ajax({
                        'url': '{% url "zaiko:irai_send_ok" %}',
                        'type': 'POST',
                        'data': {
                            'shozoku': shozoku,
                            'tantou': tantou,
                            'irai_type': irai_type,
                            'form_dic': form_dic,
                            'bikou':document.getElementById("irai_bikou").value
                        },                                
                        'dataType': 'json'
                    })
                    .done(function(response){
                        
                        
                    });
                }
            });
        }

    </script>

    <!-- モーダル用 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</body>
</html>