.flex {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}
.flex2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.flex3 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

/* zaiko */
.main_btn {
    width: 320px; 
    height: 100px; 
    border-width: 2px !important; 
    font-weight: bold !important;
}
.sticky_table thead th {
    /* 縦スクロール時に固定する */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    /* tbody内のセルより手前に表示する */
    z-index: 1;
    &:before{
        content: "";
        position: absolute;
        top: -1px;
        left: -1px;
        width: 100%;
        height: 100%;
        border: 1px solid #ccc;
    }
}
.inlineframe {
    background-color:#FFFFFF;
    border: 1px solid #ced4da;
    overflow:auto;
    overflow-y:scroll;
    overflow-x:hidden;
}
.tb_zaiko td {
    vertical-align: middle;
}
.irai_title {
    padding: 0.5em;
    background: #e2e3e5;
    border-left: solid 5px #808080;
}
.hissu {
    color:#ff0000;
    margin-left: 5px;
    font-size: 1.2em;
}
/* .irai_num_title {
  text-decoration: underline;
  text-decoration-thickness: 0.5em;
  text-decoration-color: #ffff80;
  text-underline-offset: -0.2em;
  text-decoration-skip-ink: none;
} */

.irai_num_title {
  position: relative;
  padding-left: 25px;
}
.irai_num_title:before {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 15px transparent;
  border-bottom: solid 15px #ff8000;
}
.irai_num_title:after {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 10px;
  width: 100%;
  border-bottom: solid 3px #ff8000;
}

.point {
    position: relative;
    /* margin: 2em 0; */
    padding: 0.5em 1em;
}
.point_1 {
    border: solid 2px  #808080;
}
.point_2 {
    border: solid 2px  #ff80c0;
}
.point_3 {
    border: solid 2px  #ff0000;
}
.point .box-title {
    position: absolute;
    display: inline-block;
    top: -27px;
    left: -2px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    font-size: 17px;
    color: #fff;
    border-radius: 5px 5px 0 0;
}
.point .box-title_1 {
    background: #808080;
}
.point .box-title_2 {
    background: #ff80c0;
}
.point .box-title_3 {
    background: #ff0000;
}

/* zaiko2 */

/* 編集画面 */
.td_hover tr:hover {
    background-color: #ff6;
    cursor: pointer;
}

/* サイズ編集 */
.drag-list li {
    line-height:3em;
    border:1px solid #cccccc;
    cursor:pointer;
    padding-left: 10px;
}
.inlineframe3 {
    background-color:#FFFFFF;
    overflow:auto;
    overflow-y:scroll;
    overflow-x:hidden;
}
.main_size {
    border-bottom: solid 0.5px #333333;
    padding: 10px 10px;
    font-size: 0.8em;
    width: 600px;
}
