.flex {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}
.flex2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.flex3 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

/* zaiko */
.main_btn {
    width: 320px; 
    height: 80px; 
    border-width: 2px !important; 
    font-weight: bold !important;
}
.inlineframe {
    background-color:#FFFFFF;
    border: 1px solid #ced4da;
    overflow:auto;
    overflow-y:scroll;
    overflow-x:hidden;
}
.tb_zaiko td {
    vertical-align: middle;
}
.irai_title {
    padding: 0.5em;
    background: #e2e3e5;
    border-left: solid 5px #808080;
}
.hissu {
    border-color: #ff0000 !important;
}
