.flex {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}
.flex2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.flex3 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

/* zaiko */
.main_btn {
    width: 320px; 
    height: 80px; 
    border-width: 2px !important; 
    font-weight: bold !important;
}
.sticky_table thead th {
    /* 縦スクロール時に固定する */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    /* tbody内のセルより手前に表示する */
    z-index: 1;
    &:before{
        content: "";
        position: absolute;
        top: -1px;
        left: -1px;
        width: 100%;
        height: 100%;
        border: 1px solid #ccc;
    }
}
.inlineframe {
    background-color:#FFFFFF;
    border: 1px solid #ced4da;
    overflow:auto;
    overflow-y:scroll;
    overflow-x:hidden;
}
.tb_zaiko td {
    vertical-align: middle;
}
.irai_title {
    padding: 0.5em;
    background: #e2e3e5;
    border-left: solid 5px #808080;
}
.hissu {
    border-color: #ff0000 !important;
}

/* zaiko2 */

/* 編集画面 */
.main_henshu {
    border-bottom: solid 0.5px #333333;
    padding: 10px 10px;
    font-size: 0.9em;
    width: 1000px;
}
.main_henshu:hover {
    background-color: #ff6;
    cursor: pointer;
}
.shouhin_name {
    position: relative;
    padding: 0.5rem 1rem calc(1rem + 10px);
    background: #ff6;
}
.shouhin_name:before {
    position: absolute;
    top: -7px;
    left: -7px;
    width: 100%;
    height: 100%;
    content: '';
    border: 2px solid #797900;
}
.rental_icon {
    padding: 5px 10px;
    color: #fff;
    background-color: #646565;
    width: 70px;
    text-align: center;
    cursor: pointer;
}
.haiban_icon {
    padding: 5px 10px;
    color: #fff;
    background-color: #800080;
    width: 70px;
    text-align: center;
}
.tana_icon{
    padding: 0.3em 0.5em;
    border: solid 0.5px #646565;
}

/* サイズ編集 */
.drag-list li {
    line-height:3em;
    border:1px solid #cccccc;
    cursor:pointer;
    padding-left: 10px;
}
.inlineframe3 {
    background-color:#FFFFFF;
    overflow:auto;
    overflow-y:scroll;
    overflow-x:hidden;
}
.main_size {
    border-bottom: solid 0.5px #333333;
    padding: 10px 10px;
    font-size: 0.8em;
    width: 600px;
}
